@import '../components/layout';

.cart-step {
  background: #333;
}

.cart-bg {
  background: #f0f4f8;
}

.cart-title, .cart-text {
  color: #555;
  font-weight: 800;
}

.cart-text {
  font-weight: 600;
}

.cart-border {
  border-top: 1px solid #bbb;
}

.cart-img {
  width: 140px;
  height: 140px;
  background-size: cover;
  background-position: center center;
}

.cart-qty {
  width: 180px;
  background: #f9fcff;
  @include mobile-m {
    width: 90%;
  }
  .count:hover {
    color: #fff;
  }
}

.cart-need {
  color: #555;
  i {
    font-size: 95px;
  }
  p {
    font-weight: 600;
    letter-spacing: 0.1rem;
  }
  .btn {
    font-size: 20px;
    font-weight: 800;
    border-width: 2px;
  }
}

.cart-coupon {
  background: #f9fcff;
}

.list-group-item {
  cursor: pointer;
  font-size: 18px;
  @include mobile-s {
    font-size: 16px;
  }
}

.cart-h {
  min-height: calc(100vh - 64px);
  @include pad-l {
    min-height: calc(100vh - 73px);
  }
}