@import '../helpers/variables';

.banner-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.45)), url(https://images.unsplash.com/photo-1518481852452-9415b262eba4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  background-size: cover;
  background-position: top center;
  height: 100vh;
  position: relative;
  .banner-content {
    position: absolute;
    bottom: 25%;
    left: 15%;
    @include mobile-m {
      bottom: 15%;
      left: 5%;
    }
    p {
      font-weight: 400;
      letter-spacing: 0.35rem;
      text-shadow: 0.5px 0.5px 5px #EEE;
      @include mobile-m {
        font-size:  16px;
      }
    }
  }
}

.section-text {
  letter-spacing: 0.5rem;
  @include mobile-m {
    letter-spacing: 0.2rem;
    font-size: 18px;
  }
}

@keyframes fadein {
  0% {opacity: 0;}
  40% {opacity: 1;}
  100% {opacity: 0;}
}

.hide {
  animation: fadein 8s ease;
  animation-iteration-count: infinite;
}

.intro {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.8)), url(https://images.unsplash.com/photo-1509363256058-621c95e5d4d4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  background-attachment: fixed;
  .item-content {
    letter-spacing: 1.5px;
    @include pad-xl {
      font-size: 16px;
    }
    @include mobile-s {
      font-size: 15px;
    }
  }
}

.content {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.4)), url(https://images.unsplash.com/photo-1542245980-c52e250a65ec?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-attachment: fixed;
}

.card-body p {
  @include pad-l {
    font-size: 16px !important;
  }
}

.coupon {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/photo-1608755728617-aefab37d2edd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  background-attachment: fixed;
  .coupon-box {
    transition: ease 0.1s;
    border: 1px solid #fff;
    background: rgba(0, 0, 0, 0.2);
    &:hover {
      box-shadow: 0 0 10px #fff;
    }
  }
}

.accordion-button {
  @include mobile-m {
    font-size: 13.5px;
  }
}

.accordion-body {
  @include mobile-m {
    font-size: 14.5px;
  }
}

.accordion-bg {
  background-color: #fbfbfd;
}