// 響應式斷點
@mixin pad-xl {
  @media (max-width: 1181px) {
    @content
  }
};

@mixin pad-l {
  @media (max-width: 1025px) {
    @content
  }
};

@mixin pad-m {
  @media (max-width: 821px) {
    @content
  }
};

@mixin mobile-m {
  @media (max-width: 415px) {
    @content
  }
};

@mixin mobile-s {
  @media (max-width: 391px) {
    @content
  }
};

// 全域設置
body a {
  text-decoration: none;
}

// navbar 樣式
.nav-bg {
  box-sizing: content-box;
  height: 48px;
  padding: 8px 0;
  background-color: #222;
  @include pad-l {
    height: 57px;
  }
}

// banner樣式
.banner {
  background-size: cover;
  background-position: center center;
  height: 30vh;
  @include mobile-m {
    height: 40vh;
  }
  .banner-content {
    font-weight: 400;
    letter-spacing: 0.35rem;
    text-shadow: 0.5px 0.5px 5px #EEE;
  }
  .banner-title {
    @include mobile-s {
      margin-bottom: 0;
    }
  }
}

// 背景樣式
.bg-color {
  background: linear-gradient(#fff, #fbfbfd);
}

// 頁尾樣式
.footer-bg {
  background-color: #34495E;
}

// 卡片樣式
.card{
  transition: ease 0.5s;
  cursor: pointer;
  &:hover{
    background-color: rgba(255, 255, 255, 0.25);
  }
  .card-img-top {
    transition: ease 0.5s;
    padding: 10px;
    filter: brightness(75%);
    &:hover {
      padding: 0;
      filter: brightness(100%);
    }
  }
}

// 最小高度樣式
.min-h {
  min-height: 70vh;
  @include mobile-m {
    min-height: 60vh;
  }
}