@import '../components/layout';

.product-banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.45)), url(https://images.unsplash.com/photo-1460058418905-d61a1b4a55fe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80);
}

.breadcrumb a {
  color: #555;
  transition: ease 0.3s;
  &:hover {
    color: #34495E;
  }
}

.product-img {
  max-width: 100%;
}

.product-intro {
  color: #555;
  .title {
    font-weight: 800;
  }
  .favor {
    color: #555;
    &:hover {
      color: goldenrod;
    }
  }
  .content {
    letter-spacing: 0.1rem;
    font-weight: 600;
  }
  .wrap {
    white-space: pre-wrap;
  }
  .card {
    font-weight: 300;
    color: #555;
    &:hover {
      box-shadow: 1px 1px 5px #888;
    }
  }
  .card .card-img-top {
    filter: brightness(100%);
    padding: 0;
  }
}

.product-input {
  max-width: 50%;
}