@import '../components/layout';

.login-bg {
  background: url(https://storage.googleapis.com/vue-course-api.appspot.com/strand-api/1665132948618.jpg?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=pEQ0j%2BNveUi8PDHSyuwed4yYiCK87tI7Whsy0NpkQSBDKAikqKC%2FIFGW617crfdJzaqPXBEAbbQ0xk6PipcNBATBsM9uF%2BgC56LcrlnlNjni%2Fh32aL12Rx9F8BUwlrH4aeW20RYvLesb5AV1Om5raE8y%2B5A4HmeQH1PmVZFCDlt9nkkQ6vrhltGNbhLOaFJNK%2FoYgXf4H0TFqQZNOrvos2QHb08J%2FG5i8Tts0iHebHO%2Buv4Csp9imHYk5IlcRvKsEKqzG6lrIXGUp9LErtv2JWRzeegkdNfK1PYgk40kjuXsu1xQfoCSKF3nStfxcS6R6LambO5LcePklrGIwttX%2Fw%3D%3D);
  background-size: cover;
  background-position: center center;
}

.input-bg {
  background: #fbfbfd;
  opacity: 95%;
}

.login-h {
  min-height: calc(100vh - 164px);
  @include pad-l {
    min-height: calc(100vh - 173px);
  }
}

.login-title {
  font-weight: 800;
  color: #555;
}