@import './layout';

.product-banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.45)), url(https://storage.googleapis.com/vue-course-api.appspot.com/strand-api/1665133002318.jpg?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=HDEQ01PaPoWM%2FS1uxIfur5lgASx%2FDUpAkxF8qctPcmZwRbYvWhwSOcDDYGbjA%2B7NCYBlj2dDgyuG6jFtyR8C2Q5cYSugDAvcRTnqGFb%2Bv3hPByfw9Uz3%2FIcvp1CczFrSLFLykJphsKokwxc%2BopeOFQAFHCeQjHcAbip5taIHfJFfW18Cm0LzahVYqKwEwGcfXSjk8ts0IAGAWHzlf8OXzr%2BAnyXgtukw8niRnfvPdOj7kDhMBnoOKMzR%2Bhlrgoq0IQuaGNqYs9M5MFh9g9OAcuNyKZTpTTdbjtQd2txtfXLf4MBVvkC9SGn1sEA5ZeMj78x2ePm9%2ByspDKp1NUSvKQ%3D%3D);
}

.breadcrumb a {
  color: #555;
  transition: ease 0.3s;
  &:hover {
    color: #34495E;
  }
}

.product-img {
  max-width: 100%;
  max-height: 450px;
}

.product-intro {
  color: #555;
  .title {
    font-weight: 800;
  }
  .favor {
    color: #555;
    &:hover {
      color: goldenrod;
    }
  }
  .content {
    letter-spacing: 0.1rem;
    font-weight: 600;
  }
  .wrap {
    white-space: pre-wrap;
  }
  .card {
    font-weight: 300;
    color: #555;
    &:hover {
      box-shadow: 1px 1px 5px #888;
    }
  }
  .card .card-img-top {
    filter: brightness(100%);
    padding: 0;
  }
}

.product-input {
  max-width: 50%;
}