@import './layout';

.favor-banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.45)), url(https://storage.googleapis.com/vue-course-api.appspot.com/strand-api/1665132968603.jpg?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=lmYQavSj449gc2sjpCfYlnQsBEJDtjkDc1McwEn0EKNz96iOpTuWKzNSuOZoudb0uipulBbO9Pu8QDRAwGGR6hLwzV7M02NVZw52vA6V%2B%2FlHAApuawHP6s76gBypnFUJpQfp8LwCXJm%2Buj0gEbd0%2Bffd80qkL6DgtLihIz9Z%2BQId6jJohgrNzLc3o%2FbUBavG6rroCvuzuCETmiYDovp%2F5GReY282BjMN56fJ0mkATnPg3SBziMewwmEEFKUHskq9ncab4oWH7sZfaGtgHpoSCoVbQbIRGR%2BlyrjuTQNvJp9ArZX1s65UzG8nN7NXyyNvNeKU45zqTTwSa624MQv02g%3D%3D);
  .banner-title {
    @include mobile-m {
      font-size: 18px;
    }
    @include mobile-s {
      font-size: 16px;
    }
  }
}

.favor-need {
  color: #555;
  i {
  font-size: 95px;
  }
  p {
    font-weight: 600;
    letter-spacing: 0.1rem;
  }
  .btn {
    font-size: 20px;
    font-weight: 800;
    border-width: 2px;
  }
}

.favor-item {
  width: 120px;
  height: 120px;
  background-size: cover;
  background-position: center center;
}

.favor-title {
  font-weight: 600;
  color: #EEE;
  @include mobile-m {
    font-size: 15px;
  }
  @include mobile-s {
    font-size: 14px;
  }
}

.favor-content {
  font-weight: 600;
  color: #555;
  @include mobile-m {
    font-size: 15px;
  }
  @include mobile-s {
    font-size: 14px;
  }
}